*{
  padding:0;
  margin: 0;
}

.app{
  color: blue;
  display: flex;
  flex-direction: column;
  width: 40vw;
  bordeR: 1px solid black;
  height: 40vh;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}